@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-secondary: #1e293b;
  --color-accent: #06b6d4;
  --color-background: #0f172a;
  --color-text: #f1f5f9;
}

body {
  background-color: #0f172a;
  color: #f1f5f9;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee {
  animation: marquee 21s linear infinite;
}
